
<div class="row-head">
  <a href="">Questions? Contact us.</a>
</div>


<footer>

  <div class="row">

    <div class="col">
      <a href="">FAQ</a>
      <a href="">Investor Relations</a>
      <a href="">Privacy</a>
      <a href="">Speed Test</a>
    </div>

    <div class="col">
      <a href="">Help Center</a>
      <a href="">Jobs</a>
      <a href="">Cookie Preferences</a>
      <a href="">Legal Notices</a>
    </div>
    
    <div class="col">
      <a href="">Account</a>
      <a href="">Ways To Watch</a>
      <a href="">Corporate Information</a>
      <a href="">Only On Netflix</a>
    </div>

    <div class="col">
      <a href="">Media Center</a>
      <a href="">Terms of Use</a>
      <a href="">Contact Us</a>
    </div>

  </div>
</footer>