<h1 class="title">International TV Shows</h1>

<div class="posters">

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABWtdumyU7davRGCdg30mnKjbMNKx1-7KnBwVlEyumNy9l6n6Yc-cxRucBYEUuls4BMReBnM_PGytHCb64n3XPVA-k0HC82hNpqCAElE4cAouZWp4NTONwrtdmXwTbVBYs9vKuw.jpg?r=10e" alt="All of Us Are Dead">
    <h1>All of Us Are Dead</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABQNZ_AYfGNgWC97v8Sw5P5rpj6DI-MqfvOkkJ8rwxbqlnzdfdPzlRwSE8Sp-BDKehCx0tW8j13lgYStxLbK7CG9cKGy94xxly9Ne1BFPxlbSxLv2gXYxzB2mxCQ2mszVZbS6XA.jpg?r=63b" alt="The East Palace">
    <h1>The East Palace</h1>
  </div>
  
  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABR6UnWBGBOAz5JZd7IONzPOmsKB28qsW4hHaqm_50w9Xz3a6uLnj4Kf_Ei4gN2waOf0UQbG8HIGM6Q_3mOnOtnpDUwj32uoOhQYw4jfnVGxutCSrobiNHCpVwV1n7bFAcw6LkQ.jpg?r=e3c" alt="My Demon">
    <h1>My Demon</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABa9lcmTwgcqXXrGfx0CkMqiTptG6-1EboJ0A7VR-tScK4qbZes5rXBgXqbVBIiFCF5lPZdosKoniKSaFVwRPqj4GZU6r7qtTK_rO_XHNQiqYiQmWXy23qgqbncCl61eBy9EUJw.jpg?r=b86" alt="Alice in Borderland">
    <h1>Alice in Borderland</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABVcdlOFw-V5RG25RKPGr1AxNmLQfISgDhOBGHSSiNxCU-6fm4CFtQ3PAvxdIYRtmD8OSJrBd_uFkaNSKpqh9RL0G-zTaEO8RdU-JQDNC0_Hv-ioShhXo3ttqKQrd57KU9y_NmQ.jpg?r=b1f" alt="Vincenzo">
    <h1>Vincenzo</h1>
  </div>
  
  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABRHA8qHeoMwG4ZhdEcUAZhpA28lGqlrurh9Upw8qMuHY8U4eml5ms5yfnSuzlSMzt3jP5DKLqvvrxkAe9CF8gsesO6CggOe53BahNjIk-rr5oiMf2a8d9JmGsqGuZRLvDLvwoA.jpg?r=bc9" alt="Extraordinary Attorney Woo">
    <h1>Extraordinary Attorney Woo</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABfTcdegLzxMjKuZjrtNAk-_cJnXPYx9BHlKOtz25uPSs0XMmCWvtk16QSprufRm3A3fi2c1VvV9Z-uRAai1-ebmf4CsZKDMXd8zEkY6rxZiNxRlpm_Hx5BYPgJGerGOi0FHaGg.jpg?r=e1b" alt="King the Land">
    <h1>King the Land</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABe0bjTs7KY2-83YSieZ3mZg3XycOQTWcuQrDeW6WP2ZhrV8tohqYYAVFv8wihZtV3sEcJQKfj_M4FaTMUFr76E6qQ0loBla5XxEowkKYzby5Jk7jEbbqAeJqDcM8zA_GnynG3Q.jpg?r=630" alt="If Wishes Could Kill">
    <h1>If Wishes Could Kill</h1>
  </div>

</div>