<h1 class="title">Indian TV Dramas</h1>

<div class="posters">

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABRK4c-L7b1hV-DJ2Ni34i5p6SwB2kxAkLWdt41BL88M2yWsxhXSBJ8ScPMa7ZxsGrLJC8VbXT5hBxrgcT3J0REztTgKjHth9tTpJl0KtI62fbiHOBKJaK_UedQ7bvLsZ2_QgBg.jpg?r=f99" alt="Bard of Blood">
    <h1>Bard of Blood</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABc70TYIs17VEATRKDlsyHMN2BK8nunwICS8EFV58-wKk4xOK0o0DVURDq-GdQFgfmUvMU34wRBw7Jv1A9GkpjOOXD7WdzkarCUzec7S4obS0vr6JPLItmHG9784sOjsI2JmVvA.jpg?r=d3e" alt="Aranyak">
    <h1>Aranyak</h1>
  </div>
  
  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABaFRUTeW0LnUi6MG0wSQ03pSCWgnr6vr1ZHxyQWa2XE4HhU8xI63h1SaEKZuE1ocnFflbw-ZWp0mkOYkEHquoVl5U7u0stnCbpdB4KreIYWRfX65LNX-W-ifs5szoksfAi0xRQ.jpg?r=04a" alt="Yeh Kaalli Kaali Ankhein">
    <h1>Yeh Kaalli Kaali Ankhein</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABee9suHDbH5lIkBN6q_NF51IW2O6XB5Sk89f4A-qUyAX7TeGWHCjs-Uo8m0yxyWRAnZfxy1g2h0TP-WYU4BDmyJhSB6MsR1gMBQXLch1HP9EfZhKjGnhW91iszjxBDtGcXQEew.jpg?r=0e8" alt="Mai">
    <h1>Mai</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABaWu_dQOuLU84KpNIQVn3xyPKRmbPCI6s2PbBRiqMqTY6RW63URT1cAsnsp8Sr6ate-6WHpZJv_IvFY1ur3JFyficSnu3BXhj6pT_bbYtZHMTfIGXJsNeU28gvQb2ItXX4d0-g.jpg?r=e48" alt="Black Warrant">
    <h1>Black Warrant</h1>
  </div>
  
  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABS1CNDVrqwf3xzTRnv-lIQHvK9obPP2Zb79K4Q3N9o-IchWPYMG1uDGB8ecfmdpuBCEWnngyhi1DXullpetQRAG9JtviCjMcr3zyHdnDeXqXktKzm19AY7td9IHr9eK6PRTuyQ.jpg?r=344" alt="Super Subbu">
    <h1>Super Subbu</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABRd4Rw4mTIyrhqlt21QrKSNIuNSadIPCnJ0mlzqjLEvjwWdHNerdITqsh9rZJT-qA56EGnXasbg0i_V-o_-_xxgFL9jokV7hgUMlYejonVnXFlmeCttl-3hd-hxKPJ6dEiS2Lw.jpg?r=1c2" alt="Maa Behan">
    <h1>Maa Behan</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABWRFqcuJAMHoRY-Yz9NngrjdlW81NeYK-_1Dp9gMuiwwLrjNjoNxVxN1Z4vvOeNQvE9ShpPDrnnBNAeSmiNDvWGrnPwtQ5tQhWEL8VJcZDte2p_tp1oS1ePa_69hvvJMJZR_CA.jpg?r=d6b" alt="Pyaar Prema Kalyanam">
    <h1>Pyaar Prema Kalyanam</h1>
  </div>

</div>