<h1 class="title">Hollywood Movies</h1>

<div class="posters">

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABQzl05w2ArhByBOBrlRZS-YpRtd72hWtQgJy2cv-UmWtLl1GsTZszSJz47buMHCv8t9A72U9fgqIdt8jg_vd2mXnSyhhtocLnwzc7DYPEtQ8tSPPEN0jg_dfibRTyPu3Mb4KZCmSuzrMySiKuK_LT_hDJqYUk1lCLN-OXOwmurfQU0ApjkmlxMcet2QwG8pnTr-L0jtVeBUSiKe7PW1YfkdhtijBrdmsdWB7NCPDAAS905E7aYt3v3uqXDo4L1WpdM6B.jpg?r=a45" alt="The Last House">
    <h1>The Last House</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABZRtV5g66Y5F6HAR90qrORTNogUyAYPQYVfTIc1nZsVwfGhil70WkK3X_HxgHElp0Lt-LfagnPiNpehgufLEmsWHEONs4vOu3NN0TvbqYn95ILvW5FnqlOjWelmCn59wSNTbuw.jpg?r=09b" alt="War Machine">
    <h1>War Machine</h1>
  </div>
  
  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABRtLA63nbhsEtBCqC5mofwjdrNKTo1rpnovblNwPJPGYtBu4jDOd3sNbF7tILfFNDrnIV8xIfSUwfEkK6IiszTyskF0Iokn0-ANZTUdV6bjJB4hfoTd5UHm8g6sBv3pD-UjUig.jpg?r=94d" alt="Thrash">
    <h1>Thrash</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABchu11pQ5JlWN8QK2u8z1PXeoseenW9Z1mOJz10cYfGLEmTZpYjo2ywCCr581CNIIYoQoeLsBrQtIxTyIx-iFBC_w2Ric8frWcaxxj2ubpcLRGtaTY5PIL25lhW5w17TNBLgKwk3WvdC6WSdPdXzvEyNPu9Od0qtiOlDqbLNaHZJe-5TcF4p53XuW_KUiKNmcnxh2_jTng.jpg?r=5c1" alt="72 HOURS">
    <h1>72 HOURS</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABbfOTmBBKBMrTtyuK7gN66G4ixmvZfTJ06MBQ4hXThMpd_L2bkPziW2KHrTWpKTgpyjBNlLma4fEwZLJvacbBYYTD0GDsaIZIamfw_OFDjAkKvKtnARAvV7z5xvB5we9l3qBli9vdj4nQsIc9OASmDVPypuNQm0ar5Z7TdZIYPZRJAXsYB1MSK54y0kNumkUOV-jwAG2bRQL3jIyxD3tGEYr7XaKPAhXg4Br.jpg?r=632" alt="The Rip">
    <h1>The Rip</h1>
  </div>
  
  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABddgXWQPXRdczFwsNacVbGcfriz_Tu7LDTKNz2I6i2XF8tgZQsDM1CC-TZK5e31art5-MbclFhli6t0V0BHSZiJdi6hY81iV_TG2OyuFD9nFArCNmCqou6mfDtC4ycnSpbpSeQ.jpg?r=932" alt="Apex">
    <h1>Apex</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABTqVXJnf-wTLTAipr4E-3ENlF6C5K9BL6_yKaYPh_04hqG36PS_TAH93pKsMxIkaECFdg_JU6ARIxletAt_rfWsrwvp0kN2G1wy7C5y54ecrtPYsgFSw1ztTpshNRhbfdNVRuw.jpg?r=176" alt="Extraction 2">
    <h1>Extraction 2</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABfSNPW0m-IUdF_fXuDcQ0uog39goxalx95KJlCmVqyEcd3PS-IwpK8Txyvg2Mrx2kpf7BozdBb0AJcaF9BlL-6tZKTPBPjCrCHltN50n_W9TN0-cnDvv5o-DMcfUA9S_2tUr7A.jpg?r=488" alt="Rebel Ridge">
    <h1>Rebel Ridge</h1>
  </div>

</div>