<h1 class="title">Your Next Watch</h1>

<div class="posters">

  <div class="poster">
    <img src="https://occ-0-7613-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABUGo3tGZXB3jr9kBz4EpzjMPH9SXccvAEGhxcPlODIIkJ1UX0tg-H5xKvjdlDP3nIde82OHUl-lBVUpA7Xw3a0K5XAvGUnIt152e9c3oXnvebBLS2H5EwRhwk2XRk25spWRPvZia9kde087C6APap7Ne-1K4cdIwRWxJpuj20nzediFkZ6OdSApNsccNQVTdSxdEGr3fWduydERDTRqmBwi2RKu8Vf4cGbpMW_GMhM6jDCM5MsCPZ3tBmyw8HROR2Vjf.jpg?r=639" alt="Operation Safed Sagar">
    <h1>Operation Safed Sagar: The Untlod Story of the Kargil War</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-7613-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABTN5nfozWla525tgC3_NL8OrD9k-9ONH730mFWyRhqE9Z1nUL4ke-LI3pJlg-GjZ21KEfr1X2o5l0_VPaY7LRz2P7V8VAvE0TWVb3Ifzny6EN42ke0B-jTdK1vcdw2Uh1yMvebzhINutQdbk2OhMjQOmxzAXddAvWWo8aVqDMuBFT2Nvc0mjSFg9VUKAhlbzxOaO1kLdrjokQBUsCVYYgWicp_9cbCyTF5w00LaXcVrwGq7VQ-Q4_sRR2R-harMtv5Ua.jpg?r=d33" alt="Musafir Cafe">
    <h1>Musafir Cafe</h1>
  </div>
  
  <div class="poster">
    <img src="https://occ-0-7613-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABVNFZ9vL05kHmy3y5Zpuc5xepWXigPMiszuLLFWPZK14A6xUrVqmsPLtDR7Td1TsPM1Rfq8I8n1TvJ_uJ3BNGXXzjrEmAe-lp0A_JQbyZ0vCFn-UsYHMSVIaYo2g1dzJK6v7Mganz3bq07rFMTik8asFbHUCvhl_tXs6HYIRFluOh9Z3n6LpKuzmcz-QUSWf.jpg?r=f34" alt="Taskaree">
    <h1>Taskaree: The Smuggler's Web</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-7613-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABSaXDh7LJDkSQGFBFKGxYXHc5w_d7k1zAth_0rpum218KWpFO2WZwn8x0oD4X085cYOBw7MgyVjlTE5QgTmZRLy5u6Lm3lggqEFRrFPeDBHJnAaiYgpO3FUpi918X0fkTk9lAzS7RMkIldixnizxn3VTzu91DD0PhrrPZnnhCRAxDiE9Mup72uSipPobEi3DVX9dGojlD4vMDN2lCFxIiuC06KaknwuUZGZqPzMZV9tijSJVM31GkK6pwmSeq4ou2dJdHvxls_Bi0GYaCNyJw2t5_iXHks7CntZbsHnW2o2EikuErOcnc_tUsi0zVYExMVRcACgKG2k4lVAVgX9jQKrvfzoRJDRWPmvwLBGoUyMemSF3vITmNz2ydJnf-NUPgNRfKiuXcZokCgqvd8py.jpg?r=780" alt="The Great Indian Kapil Show">
    <h1>The Great Indian Kapil Show</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-7613-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABfgFSjIyrnSit8hYAo6leDomdKtco3JaIdBVtEtUvN9tVP0ULR7Rg0q-IxuZC3eTnjSRY_aCj6aWGOYbLyLBQnB7IzdjpV3I7UMDUBv2IqtaVHqvSyupRix8ju7KRInEs8AVNg.jpg?r=466" alt="Kurukshetra">
    <h1>Kurukshetra</h1>
  </div>
  
  <div class="poster">
    <img src="https://occ-0-7613-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABT7NCxt-UO9tNwJXuzhlTtysVCUHrqDDSZgBXI5yFYKWsZ59VcRpWDIGqmzArSG3u34Jm6QXdK__4nRVZ1dt-TrGeLq_Q_nYUvx-JKutEDjLQFNTq8WJNCs-9YPUZBjkjqysyHbWGG9_1PWbXud-vtH5PH2awSQwC8LoOrLLkSqhwu8QoZxRQ-LGs1Fu4tgf.jpg?r=6b0" alt="Ikka">
    <h1>Ikka</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-7613-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABXmnWIJFBK4rNIkCixHAWZUTZwVBhz9uvrhCyS9xk8f1vzyuCu9Ybu_qwDHR27MAqhikL5RHK47JHV9aUWI3JR0M8MLnPt6oQUzQ2FEF4EuczwxTtPGdKMDq5VFyiDWE9R-PNg.jpg?r=bf8" alt="Maamla Legal Hai">
    <h1>Maamla Legal Hai</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-7613-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABYB8wkSsh42SJI2btl0mCX18zow4j7aoTe2F5plFt5q59jBaQTdKeDpcYR8IvSh78xz630fZvYV392tHI-j0kz00sOnWwVCeM_mXKEeTDNVh0WnuN9L7TsWMCeAK2_1oU2LB2A.jpg?r=590" alt="Khakee: The Bihar Chapter">
    <h1>Khakee: The Bihar Chapter</h1>
  </div>

</div>