<app-hero-section></app-hero-section>
<app-your-next-watch></app-your-next-watch>
<app-k-dramas></app-k-dramas>
<app-indian-team-dramas></app-indian-team-dramas>
<app-award-winning-tv-shows></app-award-winning-tv-shows>
<app-hollywood-movies></app-hollywood-movies>
<app-international-tv-shows></app-international-tv-shows>
<app-us-tv-shows></app-us-tv-shows>
<app-hindi-language-movies></app-hindi-language-movies>
<app-tv-series></app-tv-series>
<app-international-tv-dramas></app-international-tv-dramas>
<app-comedy-movies></app-comedy-movies>
<app-epic-worlds></app-epic-worlds>
<app-romantic-movies></app-romantic-movies>
<app-critically-acclaimed-tv-shows></app-critically-acclaimed-tv-shows>
<app-us-tv-dramas></app-us-tv-dramas>
<app-tv-comedies></app-tv-comedies>
<app-bit-of-hurry></app-bit-of-hurry>
<app-plans></app-plans>

  <div class="plan">
    <h2>A plan to suit your needs</h2>
    <div class="plan-type">
      <div class="mobile-plan">
        <h2>Mobile</h2>
        <p>480p</p>
        <p>Fair video quality</p>
        <p>For your phone or tablet</p>
      </div>

      <div class="basic-plan">
        <h2>Best</h2>
        <p>480p</p>
        <p>Fair video quality</p>
        <p>For your phone or tablet</p>
      </div>

      <div class="standard-plan">
        <h2>Standard</h2>
        <p>480p</p>
        <p>Fair video quality</p>
        <p>For your phone or tablet</p>
      </div>

      <div class="premium-plan">
        <h2>Premium</h2>
        <p>480p</p>
        <p>Fair video quality</p>
        <p>For your phone or tablet</p>
        </div>
      </div>
    </div>

    <div class="next-favourites">
      <img src="../../assets/Down-side banner.jpg" alt="bg-banner">
      <h2>Discover your next favourites, plus new releases every week</h2>
      <button class="moreonnetflix">More About Netflix</button>
    </div>

    <div class="Tudum-com">
      <img src="" alt="logo">
      <p>Read about Netflix shows and movies and watch bonus videos on <a href="">Tudum.com</a>.</p>
    </div>

    <div class="join-btn">
      <button class="join-btn">Join Now</button>
    </div>