<app-hero-section></app-hero-section>
<app-your-next-watch></app-your-next-watch>
<app-k-dramas></app-k-dramas>
<app-indian-team-dramas></app-indian-team-dramas>
<app-award-winning-tv-shows></app-award-winning-tv-shows>
<app-hollywood-movies></app-hollywood-movies>
<app-international-tv-shows></app-international-tv-shows>
<app-us-tv-shows></app-us-tv-shows>
<app-hindi-language-movies></app-hindi-language-movies>
<app-tv-series></app-tv-series>
<app-international-tv-dramas></app-international-tv-dramas>
<app-comedy-movies></app-comedy-movies>
<app-epic-worlds></app-epic-worlds>
<app-romantic-movies></app-romantic-movies>
<app-critically-acclaimed-tv-shows></app-critically-acclaimed-tv-shows>
<app-us-tv-dramas></app-us-tv-dramas>
<app-tv-comedies></app-tv-comedies>
<app-bit-of-hurry></app-bit-of-hurry>
<app-plans></app-plans>