
.movies-container {
  padding: 0px 70px;
}

.movie-list {
  display: flex;
  padding: 0px 50px;
}

.movie-card img {
  width: 180px;
  border-radius: 10px;
  margin: 5px;
  height: 250px;
}

.plan-type {
  display: flex;
  justify-content: space-between;
}

.mobile-plan,
.basic-plan,
.standard-plan,
.premium-plan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid transparent;
  width: 350px;
  height: auto;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  background-color: #000;
}

.mobile-plan {
  background: linear-gradient(to right bottom,
      rgb(19, 88, 152) 0%,
      rgb(6, 52, 94) 30%,
      rgb(6, 6, 33) 100%);
}

.mobile-plan:hover {
  background: linear-gradient(to right bottom,
      rgb(24, 109, 188) 0%,
      rgb(7, 66, 122) 30%,
      rgb(6, 6, 33) 100%);
}

.basic-plan {
  background: linear-gradient(to right bottom,
      rgb(19, 88, 152) 0%,
      rgb(6, 52, 94) 30%,
      rgb(6, 6, 33) 100%);
}

.standard-plan {
  background: linear-gradient(to right bottom,
      rgb(110, 19, 152) 0%,
      rgb(56, 6, 94) 30%,
      rgb(6, 6, 33) 100%);
}

.premium-plan {
  background: linear-gradient(to right bottom,
      rgb(152, 19, 136) 0%,
      rgb(84, 6, 94) 30%,
      rgb(6, 6, 33) 100%);
}

.next-favourites {
  display: flex;
  padding: 15px;
  align-items: center;
  margin: 10px 0px;
}

.next-favourites img {
  border-radius: 25px;
  position: relative;
  object-fit: cover;
  max-height: 120px;
  width: 100%;
}

.next-favourites h2 {
  position: absolute;
  right: 40%;
}

.next-favourites button {
  position: absolute;
  left: 80%;
  background-color: #222;
  font-weight: 600;
  color: #fff;
  border: 2px solid #777;
  border-radius: 20px;
  padding: 10px 20px;
}

.Tudum-com {
  display: flex;
  background-color: #444;
  padding: 10px;
  color: #777;
  margin: 10px;
  border-radius: 10px;
}

.Tudum-com a {
  color: #777;
}

.join-btn {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.join-btn button {
  width: 200px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: red;
  border: none;
  border-radius: 25px;
  padding: 15px 20px;
}