.container img{
  max-width: 12.5%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
}

.container button{
  background-color: #fff;
  color: #111;
  border: none;
  font-size: 14px;
  border-radius: 20px;
  padding: 7px 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 420ms;
}

.container button:hover {
  background-color: #bebdbd;
}

