<div class="hero-section">
  <img src="../../assets/background_image.jpg" alt="bg-banner">
  <div class="hero-content">
    <h1>Netflix Originals</h1>
    <p>
      Netflix is the home of amazing original programming that you can’t find anywhere else. Movies, TV shows, specials and more, it’s all tailored specifically to you.
    </p>
    <div class="hero-input-btn">
      <input type="email" class="email-input" placeholder="Email Address">
      <button class="joinnow-btn">Join Now</button>
    </div>
    <p>Endless entertainment starting at ₹149</p>
  </div>
</div>